.git
.gitignore
.gitattributes
.DS_Store
.env
.env.*
*.log
*.md
*.bak
*.tmp
*.swp
*.swo
*.lock
*.iml
*.class
Thumbs.db

.vscode
.idea
*.code-workspace

Dockerfile*
docker-compose*
**/Dockerfile*
**/docker-compose*
*.tar
*.gz
*.zip

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp/
.pnp.js
.next/
.nuxt/
dist/
build/
out/
coverage/
storybook-static/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/

.gradle/
build/
out/
target/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

helm/
charts/
*.tgz
k8s/
manifests/
.gitops/
.fleet/
.rancher/
argo/
argocd/
flux/
.gitlab-ci.yml
.github/
.cicd/
.ci/
cd/
ci/

secrets/
config/
*.crt
*.key
*.pem
*.csr
*.p12
*.jks
*.der
*.keystore

tmp/
temp/
test/
tests/
test-output/
data/
logs/
uploads/
coverage/
__snapshots__/

.cache/
.cache-loader/
*.log
*.bak
*.old